BlockchainMonitoringJob:
    Cqrs:
        RabbitConnectionString:
            settings-key: CqrsRabbitConnString
            types:
                - RabbitMq
        RetryDelay:        
            settings-key: BlockchainMonitoringJob-Cqrs-RetryDelay
    Db:
        DataConnString:
            settings-key: BlockchainMonitoringJob-DataConnString
            types:
                - AzureTableStorage
        LogsConnString:
            settings-key: LogsConnString
            types:
                - AzureTableStorage
    ChaosKitty:
        StateOfChaos:
            settings-key: BlockchainMonitoringJob-ChaosKittyState
    PrometheusPushGatewayUrl:
        settings-key: BlockchainMonitoringJob-PrometheusPushGatewayUrl      
    ActiveOperations:
        OperationAgeToCleanup:
            settings-key: BlockchainMonitoringJob-ActiveOperations-OperationAgeToCleanup    
        CleanupTimerPeriod:
            settings-key: BlockchainMonitoringJob-ActiveOperations-CleanupTimerPeriod 
        RegisterUnifinishedOperationDurationTimerPeriod:
            settings-key: BlockchainMonitoringJob-ActiveOperations-RegisterUnifinishedOperationDurationTimerPeriod        
        RegisterDurationFromLastFinishedCashoutTimerPeriod:
            settings-key: BlockchainMonitoringJob-ActiveOperations-RegisterDurationFromLastFinishedCashoutTimerPeriod  
        OperationTimeout:
            settings-key: BlockchainMonitoringJob-ActiveOperations-OperationTimeout        
        OperationTimeoutTimerPeriod:
            settings-key: BlockchainMonitoringJob-ActiveOperations-OperationTimeoutTimerPeriod 
SlackNotifications:
    AzureQueue:
        ConnectionString:
            settings-key: SlackNotificationsConnString
            types:
                - AzureTableStorage
        QueueName:
            settings-key: SlackQueueName
MonitoringServiceClient:
    MonitoringServiceUrl:
        settings-key: MonitoringServiceUrl
AssetsServiceClient:
    ServiceUrl: 
        settings-key: AssetsServiceUrl

